/*
* myCSSFramework-1 V1.0.0
* Copyright 2015, Flexible Curd
* 31/08/2015
*/

@import "https://necolas.github.io/normalize.css/3.0.2/normalize.css" all; /*my*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*хочу взять grid из Skeleton...*/



/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */ 
html { /*from Skeleton*/
  font-size: 62.5%; 
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.left { /*my*/
  float: left;
}

.left-inside > * { /*my*/
  float: left;
}

.right { /*my*/
  float: right;
}

.clearfix:after { /*from Bootstrap*/
  clear: both;
}


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr { /*from Skeleton*/
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; 
}

.gray-square { /*my*/
  width: 100px;
  height: 100px;
  background-color: #ccc;
}

.b-center { /*my*/ /*центрирует блочный элемент*/
  margin: 0 auto;
}

.list-unstyled { /*Bootstrap v3.3.5*/
  padding-left: 0;
  list-style: none;
}